<%- include('../partials/header') -%>
    <main class="container">
      <div class="row justify-content-center">
        <section class="col-6 mt-5">
          <% if (type === "promo") { %>
          <h2>Add a promotion</h2>
          <form action="/admin/add/promo" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control" id="city" name="city">
            </div>
            <div class="mb-3">
              <label for="state" class="form-label">State/Province</label>
              <select class="form-control" id="state" name="state">
                <option value="Alabama">Alabama</option>
                <option value="Alaska">Alaska</option>
                <option value="Alberta">Alberta</option>
                <option value="Arizona">Arizona</option>
                <option value="Arkansas">Arkansas</option>
                <option value="British Columbia">British Columbia</option>
                <option value="California">California</option>
                <option value="Colorado">Colorado</option>
                <option value="Connecticut">Connecticut</option>
                <option value="Delaware">Delaware</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Idaho">Idaho</option>
                <option value="Illinois">Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Iowa">Iowa</option>
                <option value="Kansas">Kansas</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Maine">Maine</option>
                <option value="Manitoba">Manitoba</option>
                <option value="Maryland">Maryland</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Missouri">Missouri</option>
                <option value="Montana">Montana</option>
                <option value="Nebraska">Nebraska</option>
                <option value="Nevada">Nevada</option>
                <option value="New Brunswick">New Brunswick</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="New Jersey">New Jersey</option>
                <option value="New Mexico">New Mexico</option>
                <option value="New York">New York</option>
                <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
                <option value="North Carolina">North Carolina</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Nova Scotia">Nova Scotia</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Ontario">Ontario</option>
                <option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Prince Edward Island">Prince Edward Island</option>
                <option value="Quebec">Quebec</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="Saskatchewan">Saskatchewan</option>
                <option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Texas">Texas</option>
                <option value="Utah">Utah</option>
                <option value="Vermont">Vermont</option>
                <option value="Virginia">Virginia</option>
                <option value="Washington">Washington</option>
                <option value="West Virginia">West Virginia</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="Wyoming">Wyoming</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" id="description" name="description"></textarea>
            </div>
            <div class="mb-3">
              <label for="owner" class="form-label">Owner's user name</label>
              <input type="text" class="form-control" id="owner" name="owner">
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">Add</button>
          </form>
          <br>
          <h2>Delete a promotion</h2>
          <form
          action="/admin/delete/promo?_method=DELETE"
          method="POST"
          class="col-3"
          >
            <div class="mb-3">
              <label for="promoName" class="form-label">Promo Name</label>
              <input type="text" class="form-control" id="promoName" name="promoName">
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
          <% } %>
          <% if (type === "wrestler") { %>
          <h2>Add a wrestler</h2>
          <form
            action="/admin/add/wrestler?_method=PUT"
            enctype="multipart/form-data"
            method="POST"
          >
            <div class="mb-3">
              <label for="userName" class="form-label">User Name</label>
              <input type="text" class="form-control" id="userName" name="userName">
            </div>
            <div class="mb-3">
              <label for="ringName" class="form-label">Ring Name</label>
              <input type="text" class="form-control" id="ringName" name="ringName">
            </div>
            <div class="mb-3">
              <label for="height" class="form-label">Height</label>
              <input type="text" class="form-control" id="height" name="height">
            </div>
            <div class="mb-3">
              <label for="weight" class="form-label">Weight</label>
              <input type="text" class="form-control" id="weight" name="weight">
            </div>
            <div class="mb-3">
              <label for="bio" class="form-label">Biography</label>
              <textarea class="form-control" id="bio" name="bio"></textarea>
            </div>
            <div class="mb-3">
              <label for="teammates" class="form-label">Teammate(s)</label>
              <input type="text" class="form-control" id="teammates" name="teammates">
            </div>
            <div class="mb-3">
              <label for="teams" class="form-label">Team(s)</label>
              <input type="text" class="form-control" id="teams" name="teams">
            </div>
            <div class="mb-3">
              <label for="promos" class="form-label">Promotion(s)</label>
              <input type="text" class="form-control" id="promos" name="promos">
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button class="btn btn-primary" type="submit">Add</button>
          </form>
          <br>
          <h2>Delete a wrestler</h2>
          <form
            action="/admin/delete/wrestler?_method=PUT"
            method="POST"
            class="col-3"
          >
            <div class="mb-3">
              <label for="ringName" class="form-label">Ring Name</label>
              <input type="text" class="form-control" id="ringName" name="ringName">
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
          </form>
          <% } %>
        </section>
      </div>
    </main>
<%- include('../partials/footer') -%>